!!!
%html
  %head
    %title UI-Demo
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :javascript
  %body
    = yield

    %section.products
      %h1 Products
      %ul
        - 11.times do |i|
          %li.product
            %a{ href: "#products/#{i}" }
              = image_tag "//lorempixel.com/100/100/technics/?#{i}"
        %li.open-group
          %h2 Technology

        - 12.times do |i|
          %li.product
            %a{ href: "#products/#{12 + i}" }
              = image_tag "//lorempixel.com/100/100/technics/?#{12 + i}"

