!!!
%html
  %head
    %title UI-Demo
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :javascript
  %body.no-transitions
    %header
      %h1 Backbone UI-Transition-Demo

    = yield

    %footer
      %p Kabisa Front-end sessions, 2013
